@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html,
body,
#root{

margin:0;
padding:0;
width:100%;
min-height:100%;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Comfortaa' !important;

}

button,
input{

font-family:'Comfortaa' !important;

}